// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.4em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$almost-black: #222222;
$black:#111;
$medium-gray: #999;
$grey-color-dark: #aaa;
$grey-color: #bbb;
$grey-color-light: #777;
$light-white: #efefef;
$text-color:#efefef;
$spacing-unit: 10;

$sansFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$headingFamily: 'Bebas Neue', Helvetica, Arial, sans-serif;
$white: #FFFFFF;
$black: #111;
$darkGrey: #222;
$grey: #444;
$lightGrey: #ccc;
$blue: #6EC5FF;
$indigo: #5EA5FF;

// Font Colors
$base-background-color: #fff;
$base-font-color: $black;
$action-color: $blue;
//Fontfaces:
$headingFamily: 'Bebas Neue', Helvetica, Arial, sans-serif;

// Border
$base-border-color: $lightGrey;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
