<header>
<div class="container">
  <h5 class="logo"><a href="index.html">Padzahr</a></h5>
       <nav class="main">
           <ul>
               {% if page.nav == "blog" %}
                   <li><a href="posts.html" class="active">Blog</a></li>
               {% else %}
                   <li><a href="posts.html">Blog</a></li>
               {% endif %}
               {% if page.nav == "about" %}
               <li><a href="about.html" class="active">About</a></li>
               {% else %}
               <li><a href="about.html">About</a></li>
               {% endif %}
               {% if page.nav == "projects" %}
               <li><a href="index.html" class="active">Projects</a></li>
               {% else %}
               <li><a href="index.html">Projects</a></li>
               {% endif %}
           </ul>
       </nav>
       <div class="nav-slider">
           <div class="nav-selection {{ page.nav }}"></div>
       </div>
       <div class="subnav-slider">
           <div class="subnav-selection {{ page.subnav }}"></div>
       </div>
       {% if page.nav == "projects" %}
       <nav class="subnav">
           <ul>
               {% if page.subnav == "padzahr-home" %}
                 <li><a href="/exemplar" class="active" data-subnav="padzahr-home">Home</a></li>
               {% else %}
                   <li><a href="/exemplar" data-subnav="padzahr-home">Home</a></li>
               {% endif %}
               {% if page.subnav == "padzahr-docs" %}
                   <li><a href="#" class="active" data-subnav="padzahr-docs">Docs</a></li>
               {% else %}
                   <li><a href="#" data-subnav="padzahr-docs">Docs</a></li>
               {% endif %}
               {% if page.subnav == "download" %}
                   <li><a href="#" class="active" data-subnav="download">Download</a></li>
               {% else %}
                   <li><a href="#" data-subnav="download">Download</a></li>
               {% endif %}
           </ul>
       </nav>
       {% endif %}
</div>
</header>
